PORT=3000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-store.inertiva@gmail.com
SMTP_PASS=Inertiva@123

FROM_NAME=Inertiva
FROM_EMAIL=Shubham4yas@gmail.com
SUPPORT_EMAIL=store.inertiva@gmail.com

ADMIN_USER=inertivastore
ADMIN_PASS=Inertiva@123
